#resultsContainer{
    margin-top: 60px;
}
#saveBtn{
    margin-right:10px;
    background-color:#d8377e;
}
#bookImg{
    float:left;
    margin-right:20px;
}
#viewBtn{
    background-color:#959596;
}